
- var concated_hashtags = hashtags.length > 0 ? hashtags.concat(' ') : hashtags;

- var facebook_share_link = 'https://www.facebook.com/sharer/sharer.php?u=';
- var twitter_share_link = 'https://twitter.com/intent/tweet?';
- var fb_share_url = facebook_share_link + encodeURI(url);
- var tw_share_url = twitter_share_link + 'text=' + encodeURI(share_text) + '&url=' + encodeURI(url + '/') + '&hashtags=' + encodeURI(concated_hashtags);


doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Script-Type', content='text/javascript')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    title=title
    meta(name='author', content='')
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
 
    meta(property="fb:app_id" content=fb_app_id)
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=og_description)
    meta(property="og:url" content=url)
    meta(property="og:image" content=url+ogimage)
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=og_description)
    meta(property="twitter:image:src" content=url+ogimage)
  
    link(rel='canonical' href=url)

    block stylesheet

  body
    block content
      
    block javascript
      
    //- include ./googleAnalytics.pug




